<% provide(:title, "Login") %>

<h1>Login</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <p>To access your account please enter your info:</p>
    <%= form_for(:session, url: '#') do |f| %>

        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.submit "Log in", class: "btn btn-large btn-primary" %>
    <% end %>
    <p>Forgot email/password? <%= link_to "Contact us", contact_path %></p>
  </div>
</div>