<% provide(:title, 'All users') %>
<h1>All users</h1>

<% @user.each do |user| %>
    <div class="list-group">
      <a href="users/ <%= user.id %>" class="list-group-item">
        <% if user.admin == true %>
        <%= user.name %>, Floor # <%= user.floor_number %> - Admin
            <% else %>
            <%= user.name %>, Floor # <%= user.floor_number %> - Tenant
            <% end %>
      </a>
<% end %>
</div>