<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        Welcome to your account!
      </h1>
      <ul class="menu">
        <li><%= link_to "Billing and Payments", billing_and_payments_path %></li>
        <li><%= link_to "Payment History", '#' %></li>
        <li><%= link_to "Water bill", '#' %></li>
        <% if current_user.admin == true %>
            <li><%= link_to "Copy of the Lease #1", "Lease_1.pdf" %></li>
            <li><%= link_to "Copy of the Lease #2", "Lease_2.pdf" %></li>
        <% else %>
                <li><%= link_to "Copy of the Lease", "Lease_#{current_user.floor_number}.pdf" %></li>
        <% end %>
      </ul>
    </section>
  </aside>
</div>
